<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
</head>
<body>
<h2>Employee Registration Form</h2>
<form th:action="@{/register}" th:object="${employee}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required /><br/>
    <label>Email:</label>
    <input type="email" th:field="*{email}" required/><br/>
    <label>Phone Number:</label>
    <input type="number" th:field="*{phoneNumber}" required/><br/>
    <label>Address:</label>
    <input  type="text" th:field="*{address}" required/><br/>
    <label>Gender:</label>
    <input type="text" th:field="*{gender}" required/><br/>

    <button type="submit">Register</button>

</form>

</body>
</html>